body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #cfcfcf;
}
#navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    position:fixed;
    z-index: 999;
    background-color: #000000;
}
#navbar h1{
    padding-left: 5%;
    color: #cfcfcf;
}
 
#navbar h2{
    color: #cfcfcf;
    margin:auto;
    margin-left: 3%;
    margin-right: 0;
   
}

#hamburger-icon {
    display: none;
    color: #cfcfcf;
    font-size: 24px;
    cursor: pointer;
}

#nav-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
}
/* Links */
a{
    text-decoration: none;
}
a:visited{
    color:#cfcfcf;
}
a:link{
    color:#cfcfcf;
}

#intro{
    padding-top: 5%;
}

/*Games Class*/
.game{
    margin: 5% 20%;
    background-color: #F0F0F0;
    border: 2px solid #1E1E1E;

}

.game img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.game .bio{
    display: grid;
    height: auto;
    background-color: #cfcfcf;
}
.bio #game-link{
    width: auto;
    margin: auto;
    text-align: center;
    color: #0c0d0e;
}
#game-link h4{
    margin: auto;
}

.bio a{
    text-decoration: underline;
}
.bio a:visited{
    color:#0c0d0e;
}
.bio a:link{
    color:#0c0d0e;
}
.game iframe{
    border: none;
    margin: auto;
    width: 100%;
    height: 640px;
}
.game .title{
    text-align: center;
    font-size: 2em;
}
.bio .title{
    margin: auto;
    margin-top: .5em;
}

#game-link{
    font-size: 1.3em;
    margin: auto;
}
.list{
    list-style-type: none;
    margin-left: 0;
    margin-right: 5%;
}
.list h3{
    display: inline;
    font-size: 1.5em;
}
.list p{
    display: inline;
    font-size: 1.2em;
}
.list li p{
    font-size: 1.3em;
}


#intro{
    background-color: #cfcfcf;
    color: #1E1E1E;
    text-align: center;
}
#intro h2{
    font-size: 2em;
}
#intro p{
    font-size: 1.5em;
    margin: 3% 10%;
}
.feature{
    margin-bottom: 3%;
}
#feature h3{
    color: #0c0d0e;
}


.images{
    display: flex;
    flex: wrap;
    flex-direction: column;
    color: #cfcfcf;
    margin: 3% 10%;
    width: 80%;
    justify-content: center;
}
.gallery-row{
    justify-content: row;
}
.image{
    margin: auto;
    width: 100%;
}


.image img{
    display: block;
    margin: auto;
}
.image h3{
    text-align: center;
    text-decoration: underline;
}

.project-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    font-weight: 2vw;
    font-size: larger;
}

.project-group p{
    padding-left: .5em;
    padding-right: .5em;
}
  
.project {
    width: 30%;
    color: #cfcfcf;
    text-align: center;
    margin: 0 20px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}
  
.project img {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 2%;
    
}
#changeling{
    margin: 25% auto;
}

li{
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}


#resume{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.pdf{
    padding-top: 4%;
    width: 100%;
    height: 865px;
}

#under{
    margin: auto;
    text-decoration: underline;
}

.feature{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.feature-item{
    position: relative;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.feature-item img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.overlay{
    display: flex;
    position:absolute;
    background-color: rgba(0,0,0,0.7);
    color:#E59500;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 150%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 5px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.feature-item:hover .overlay {
    opacity: 1;
    border-radius: 5px;
}

footer{
    display: flex;
    margin-top: 5%;
    background-color: #cfcfcf;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 10%;
    flex-direction: row;
}
footer li{
    list-style-type: none;
    color: black;
    width: 100%;
    margin: 0 10px;
    font-size: 20px;
}
footer nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
footer a:link{
    color: black;
}
footer a:visited{
    color: black;
}
footer a:hover{
    color: black;
}
footer img{
    margin-right: 5px;
    width: 40px;
    mix-blend-mode: multiply;
    
} 

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 500px){
    #navbar{
        position: relative;
    }
    #job-title{
        display: none;
    }
    #hamburger-icon {
        display: block;
        position: absolute;
        right: 3%; /* Replace with the desired spacing from the right edge */
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    #navbar h1{
        width: 40%;
        color: #cfcfcf;
        font-size: 24px;
        padding-left: 3%;
    }
     
    #navbar h2{
        width: 40%;
        color: #cfcfcf;
        margin:auto;
        font-size: 20px;
        margin-left: 3%;
        margin-right: 0;
       
    }

    #nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        font-size: 20px;
        background-color: black;
        padding: 10px;
    }

    #nav-links.active {
        display: flex;
    }

    .feature{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .overlay{
        position:absolute;
        background-color: rgba(0,0,0,0.7);
        color:#E59500;
        opacity: 0;
        transition: opacity 0.3s ease;
        font-size: 20px;
        left: 0;
        right: 0;
        top: 85%;
        height: 15%;
    }
    
    .feature-item:hover .overlay {
        opacity: 1;
        border-radius: 5px;
    }

    #resume{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    footer{
        display: flex;
        margin-top: 5%;
        background-color: #cfcfcf;
        padding-top: 3%;
        padding-bottom: 3%;
        height: 10%;
        flex-direction: row;
    }
    footer li{
        list-style-type: none;
        color: black;
        width: 100%;
        margin: 0 10px;
        font-size: 20px;
    }
    footer nav a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        width: auto;
    }
    footer a:link{
        color: black;
    }
    footer a:visited{
        color: black;
    }
    footer a:hover{
        color: black;
    }
    footer img{
        margin-right: 5px;
        width: 40px;
        mix-blend-mode: multiply;
        
    } 
}